#attempt-problem{
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    > div{
        height: 100vh;
        overflow: scroll;
    }
    .resizer{
        width: 5px !important;
        cursor: ew-resize;
        border: 2px solid transparent;
        overflow: hidden !important;    
    }
    .left, .right{ min-width: 30vw; width: 50vw;}
    .full-flex{flex: 1;}
    .left{
        font-family: 'Libre Baskerville', serif; 
        a{color: black !important;}
        padding: 10px;
        .problem-header{
            font-weight: bold;
            font-size: 30px;        
        }
        .problem-score{
            text-transform: uppercase;
        }
        .tags{
            .tags-header{
                font-size: 18px;
                font-weight: bold;
            }
            .tag{
                display: inline-block;
                background-color: whitesmoke;
                border-radius: 10px;
                padding: 5px;
                margin: 5px 5px 0px 0px;            
            }
        }
    }

    .problem{
        margin: 50px auto;
        .ql-toolbar{display: none !important;}
        .ql-container.ql-snow{border: none !important; font-family: 'Libre Baskerville', serif;}
        .ql-editor{padding: 0px !important;}
        pre.ql-syntax{
            color: black !important;
            background-color: white !important;
            border: 1px solid darkgray;
        }        
    }
    .right{
        flex: 1;
        .code-operations{
            text-align: right;
            font-family: 'Libre Baskerville', serif; 
            font-size: 18px;
            margin: 10px;
            > button{
                font-size: 18px;
                background: transparent;
                font-family: 'Libre Baskerville', serif; 
                cursor: pointer;
            }
            .submit-code{
                background: #28a745;
                color: white;
                border-radius: 5px;
                padding: 10px;
            }
        }
        .custom-test{
            font-family: 'Libre Baskerville', serif; 
            font-size: 15px;
            padding: 10px;
            padding-left: 0px;
            margin: 5px;
            margin-left: 0px;
            > textarea, > input{
                border: 1px solid black;
                border-radius: 5px;
                width: 95%;
                padding: 10px;
                font-family: 'Libre Baskerville', serif; 
                font-size: 15px;
                margin: 5px auto;
            }
            > textarea{
                height: 100px;
            }
            textarea:focus, input:focus{
                border-color: #9ecaed;
                box-shadow: 0 0 2px #9ecaed;
            }
            .error-result{
                background: #f8d7da;
                color: #842029;
                padding: 10px;
                margin-bottom: 20px;
            }
            .success-result{
                background: #d1e7dd;
                color: #0f5132;
                padding: 10px;
                margin-bottom: 20px;
            }
        }
        .results{
            border: 1px solid black;
            padding: 5px;
            display: flex;
            .test-case-list{
                .test-case{
                    background: whitesmoke;
                    padding: 5px;
                    cursor: pointer;
                    font-family: 'Libre Baskerville', serif; 
                    font-size: 18px;
                    min-width: 200px;
                }
                .selected-test-case{
                    background: white;
                    box-shadow: 0 2px 2px 2px gainsboro;
                    -webkit-box-shadow: 0 2px 2px 2px gainsboro;
                    
                }
                .user-score{
                    font-family: 'Libre Baskerville', serif; 
                    font-size: 18px;
                    padding: 5px;
                }
            }
            .test-case-result{
                flex: 1;
                font-family: 'Libre Baskerville', serif; 
                font-size: 18px;
                padding: 0px 10px 10px 10px;
                textarea{
                    font-family: 'Libre Baskerville', serif; 
                    font-size: 15px;    
                    width: 100%;
                    background: whitesmoke;
                    padding: 5px;
                    overflow: scroll;
                    resize: none;
                }
            }
        }
    }
}
.react-toast-notifications__toast__content{
    font-family: 'Libre Baskerville', serif !important; 
    font-size: 18px !important;
}