#login{
    padding: 50px;
    font-family: 'Libre Baskerville', serif; 
    .flash-message{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        border-radius: 5px;
        button{
            border: none;
            background: transparent;
        }
    }
    .error{
        color: #842029;
        background: #f5c2c7;
        button{
            color: #842029;
        }
    }
    .success{
        color: #0f5132;
        background: #badbcc;
        button{
            color: #0f5132;
        }
    }
    .form-group{
        margin: 20px auto;
        label{
            display: block;
            margin: 10px auto;
        }
        input{
            border: 1px solid #ced4da;
            width: -webkit-fill-available;
            padding: 10px;
            font-size: 20px;
            border-radius: 5px;
            font-family: 'Libre Baskerville', serif; 
        }
        input:focus{
            outline-width: 2px;
            outline-color: #92a8d1;
        }
    }
    button{
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        background: #007bff;
        color: white;
        border-radius: 5px;
        font-family: 'Libre Baskerville', serif; 
    }
}