@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
*{outline-width: 0px; border: none; box-sizing: border-box !important;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.toast-body{
  font-family: 'Libre Baskerville', serif; 
}

.button{
  background: transparent;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Libre Baskerville', serif; 
}
.success, .danger, .info, .secondary{
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}
.success{
  background-color: #198754;
  color: white;
}
.danger{
  background-color: #dc3543;
  color: white;
}
.info{
  background-color: #17a2b8;
  color: white;  
}
.secondary{
  background-color: #6c757d;
  color: white;
}
.fs-20{
  font-size: 20px;
}
.disabled{
  cursor: not-allowed;
}
.full-width{
  width: 100%;
}
