.fotter{
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    a{
        color: white !important;
        text-decoration: none;
    }
    span{
        color: red;
    }
}
